.project-content {
    padding-top: 47vw;
}
.project-container {
    margin-bottom: 9vw;
}

.project-container h1 {
    color: #fff;
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 5vw;
    margin-left: 5vw;
    font-family: AmericanCaptain;
}
.h1-tag {
    font-family: Helvetica, sans-serif;
    font-size: 2.5vw;
    transform: translate(30%, -60%);
    position: absolute;
}

.project-instance-list {
    width: 68vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.project-item {
    margin-right: 10.5vw;
    margin-bottom: 7.5vw;
    cursor: pointer;
}

.project-item:nth-child(2n) {
    margin-right: 0;
}

.project-pic {
    width: 27.5vw;
    height: 16.7vw;
    transition: .4s;
    position: relative;
    background: #fff;
    overflow: hidden;
    margin-bottom: 1.1vw;
    border-radius: 2.1vw;
}

.project-pic img{
    transition: .5s;
    opacity: 0;
}

.project-pic-mask {
    width: 27.5vw;
    height: 16.7vw;
    position: absolute;
    font-family: AliBabaH;
    font-weight: bold;
    top: 0;
    padding-top: 5vw;
    padding-left: 3vw;
    transition: .5s;
    background: linear-gradient(#9548DF, #fff);
}

.project-pic-mask-special {
    background: linear-gradient(#55EFAC, #fff);
}

.project-pic:hover {
    border-radius: 2.1vw 8.4vw 8.4vw 2.1vw;
}

.project-item:hover .project-pic img{
    opacity: 1;
}

.project-item:hover .project-pic-mask {
    opacity: 0;
}

.project-pic-mask p {
    line-height: 2.4vw;
}

.project-pic-mask p:first-child {
    font-size: 2vw;
}

.project-pic-mask p:nth-child(2) {
    font-size: 1.5vw;
}

.project-pic img {
    width: 100%;
    height: 100%;
    transform: scale(1.1,1.1);
}

.project-dec {
    color: #fff;
    font-size: 1.6vw;
    margin: 0;
}
.project-tag-list {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5vw
}
.project-tag {
    display: inline-block;
    color: #fff;
    font-size: 1.2vw;
    margin: 0;
}