@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.circle {
    width: 50vw;
    position: absolute;
    animation: rotate infinite linear 8s;
}

@keyframes a-g {
    0% {
        transform: translate(-25%,-70%);
    }
    50% {
        transform: translate(-15%,-60%);
    }
    100% {
        transform: translate(-25%,-70%);
    }
}

.about-ball-g {
    width: 70vw;
    position: absolute;
    transform: translate(-25%,-70%);
    animation: a-g infinite ease-in-out 12s;
    z-index: -1;
}

@keyframes a-p {
    0% {
        transform: translate(30%, -60%);
    }
    50% {
        transform: translate(20%, -50%);
    }
    100% {
        transform: translate(30%, -60%);
    }
}
.about-ball-p {
    width: 75vw;
    right: 0;
    transform: translate(30%, -60%);
    animation: a-p infinite ease-in-out 8s;
    position: absolute;
}
.about-content {
    position: relative;
    min-height: 2vh;
    color: #fff;
}
.about-content p {
    margin: 0;
}

.about-content h1 {
    font-weight: bold;
    font-size: 2vw;
    margin: 0;

}

.about-content h2 {
    font-weight: bold;
    font-size: 1.8vw;
    margin: 0;

}

.info-card {
    display: flex;
    padding-top: 9vw;
}
.left-info-card {
    margin-left: 10vw;
    font-size: 1.4vw !important; 
}
.avatar {
    width: 53vw;
}
.info-1 {
    margin: 35.5vw 0 5vw 8vw;
}
.info-2 {
    margin-left: 8vw;
}
.experience-container {
    display: flex;
    margin-top: 10.5vw;
    margin-bottom: 22vw;
}
.experience-container .left {
    margin: 0 0 0 18vw;
}
.experience-container .right {
    margin-left: 7vw;
}

.exp-container {
    width: 26vw;
    margin-bottom: 3.5vw;
}
.exp-container h1{
    margin-bottom: 2.6vw;
}

.exp-tag {
    font-size: 0.5vw;
}
.exp-time {
    display: flex;
    justify-content: space-between;
}
.exp-time {
    font-size: 1.1vw;
}
.left .exp-time {
    margin-bottom: 1.6vw;
}
.right .exp-time {
    margin-bottom: 1.1vw;
}
.exp-content p{
    font-size: 1.1vw;
}