.about-content {
    position: relative;
    min-height: 2vh;
    color: #fff;
}
.about-content p {
    font-size: 1vw;
    line-height: 1.7vw;
    margin-bottom: 0.2vw;
}

.about-content h1 {
    font-weight: bold;
    font-size: 2vw;
}

.about-content h2 {
    font-weight: bold;
    font-size: 1.8vw;
}

.about-content p {
   margin: 0;
}

.info-card {
    display: flex;
    padding-top: 9vw;
}
.left-info-card {
    margin-left: 10vw;
}
.avatar {
    width: 53vw;
}
.info-1 {
    margin: 35.5vw 0 5vw 8vw;
}
.info-2 {
    margin-left: 8vw;
}
.experience-container {
    display: flex;
    margin-top: 8.5vw;
    margin-bottom: 22vw;

}
.experience-container .left {
    margin: 0 0 0 18vw;
}
.experience-container .right {
    margin-left: 12vw;
}