.nav {
    width: 100vw;
    height: 7.5vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: rgba(216,216,216,.2);
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-logo {
    width: 3.7vw;
    height: 3.7vw;
    background: #363636;
    border-radius: 0.6vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

.nav-logo img{
    width: 3.7vw;
    height: 3.7vw;
}
.nav-text {
    font-size: 1.45vw;
    color: #5A5A5A;
    font-weight: bold;
    margin-right: 2vw;
}
.nav-list-container {
    display: flex;
    align-items: center;
}

.nav-button-container {
    display: inline-block;
    margin-right: 2.9vw;
}

.project-detail-nav .nav-line {
    background-color: #5A5A5A;
}
.project-detail-nav .nav-list a:hover {
    color: #5A5A5A;
}

.nav-line {
    width: 2.7vw;
    height: 0.3vw;
    background-color: #fff;
    margin: 0.6vw 0;
    transition: 0.4s;
}

.nav-list{
    display: flex;
    font-size: 2.8vw;
    font-weight: bold;
    transition: .4s;
    margin-right: 3.2vw;
}

.nav-list a{ 
    font-size: 1.45vw;
    color: #cdcdcd;
    transition: .4s;
    display: flex;
    align-items: center;
}

.nav-list a:hover {
    color: #fff;
}

.nav-list-hide {
    opacity: 0;
    z-index: -1;
}

.nav-item {
    margin-right: 7vw;
}
.nav-item:last-child {
    margin-right: 0;

}