.contact {
    color: #fff;
    width: 88vw;
    margin: 0 auto;
}
.contact-pic {
    width: 22.4vw; 
    margin-bottom: 5vw;
}
.contact-card {
    display: flex;
    justify-content: space-between;
}
.contact-card p{
    font-size: 1.4vw;
}
.social {
    text-align: right;
}
.social-icon {
    display: flex;
    align-items: center;
}

.social-icon img{
    width: 2vw;
    cursor: pointer;
    margin-right: 1vw;
}
.social-icon img:last-child{
    margin-right: 0;
}
@keyframes l-b-trans {
    0% {
        top: 10vw;
        left: -20vw;
    }
    20% {
        top: 5vw;
        left: -10vw;
    }
    50% {
        top: 0vw;
        left: -20vw;
    }
    90% {
        top: 15vw;
        left: -20vw;
    }
    100% {
        top: 10vw;
        left: -20vw;
    }
}

@keyframes r-b-trans {
    0% {
        top: 20vw;
        right: -10vw;
    }
    50% {
        top: 20vw;
        right: -5vw;
    }
    100% {
        top: 20vw;
        right: -10vw;
    }
    
}

.bottom {
    width: 100vw;
    height: 50vw;
    overflow: hidden;
    position: relative;
}

.l-b-ball {
    width: 80vw;
    position: absolute;
    top: 10vw;
    left: -20vw;
    animation: l-b-trans infinite 14s ease-in-out;
    z-index: -1;
}

.r-b-ball{
    width: 75vw;
    top: 20vw;
    position: absolute;
    right: -5vw;
    animation: r-b-trans infinite 14s ease-in-out;
    z-index: -1;
}

.footer-tag {
    font-size: 1vw;
    color: #fff;
    width: 20vw;
    position: absolute;
    bottom: 0;
    left: 50%;
}