
@font-face {
    font-family: AmericanCaptain;
    src: url('./asset/font//AmericanCaptain.ttf');
}

.project-list {
    margin: 0 auto 15vw auto;
    padding-top: 76vw;
}
.home-list-content .project-item:nth-child(2n){
    transform: translateY(16vw);
}
.home-list-content .project-instance-list {
    padding-bottom: 16vw;
}

.list-title {
    padding-left: 6vw;
    font-family: AmericanCaptain;
    color: #fff;
    font-size: 5vw;
}

.title-pic {
    width: 22.4vw;
}

.list-content {
    width: 74vw;
    margin: 5.5vw auto 0 auto;
    display: flex;
    /* justify-content: space-evenly; */
    flex-flow: wrap;
}

.list-item {
    width: 19.1vw;
    height: 19.1vw;
    border-radius: 20px;
    background: #808080;
    margin-right: 6.5vw;
    margin-bottom: 2vw;
}

.list-item:nth-child(3n+3) {
    margin-right: 0;
}

.more {
    cursor: pointer;
    width: 11.7vw;
    height: 4.7vw;
    line-height: 4.7vw;
    font-size: 1.5vw;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 40px 100px 100px 40px;
    color: #fff;
    text-align: center;
    margin: 5.4vw auto 0 43.3vw;
    overflow: hidden;
    transition: .4s;
    position: relative;
}
.bg-more {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background: #fff;
    transition: .4s;
    position: absolute;
    z-index: -1;
}
.more:hover {
    color: #000;
}

.more:hover .bg-more{
    transform: translate(-10%, -50%);
}

.footer-pic {
    width: 52vw;
}